body {
    margin: 0;
    background: black;
    color: white;
}

.container {
    width: 90%;
    max-width: 1320px;
    /* border: 2px solid magenta; */
    margin: 0 auto;
}

.container-nav {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}

header {
    padding: 1em 0;
}



.logo{
    border: 2px solid white;
    padding: 0.25em;

}

.container-logo {
    padding-left: 0.25em;
}

nav {
    z-index: 10;
}

nav ul {
    /* border: 2px solid magenta; */
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

nav li {
    /* border: 2px dotted orange; */
    margin-left: 2em;

}

nav a {
    /* border: 2px solid green; */
    text-decoration: none;
    color: white;
    padding: 0.25;
    
}

nav a:hover,
nav a:focus {
    color: white;
    font-weight: bold;
}

.current-page {
    font-weight: 900;
    /* border-bottom: 1px solid white; */
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;

}

.hamburger {
    display: none;
}

.container-main{
    display:flex;
    justify-content: space-between;
}
.columns{
    border:2px solid green;
    padding:2em;
}

.info a{
    text-decoration:none;
    color:white;
}


.img-card{
    display:flex;
    /* border: 2px solid red; */
    flex-direction: column;
    position: relative;
}
.img-only{
    border: 2px solid green;
    z-index:0;
}
.img-only img{
    width:680px;
   
    
}
.card{
    
    border: 2px solid yellow;
    width:55%;
    height:fit-content;
    margin-bottom:0;
    z-index:5;
}
.designer{
    display:flex;
   /* border:2px solid blue; */
   margin:0;
  
}
.designer img{
    border-radius:50%;
    width:15%;
    height:10%;
    padding:0.5em;
    margin:0;

}
.designer p{
    /* border:1px solid green; */
    padding:0.25em;
}
.designation{
    color:#726969;
}
.about-designer{
    /* border: 2px solid red;    */
    font-size:1.5em;;
    padding:0 0.5em;
}
 .about-designer p{
     /* border:2px solid magenta;      */
     margin-top:0;
     margin-bottom: 0;
    
 }

.footer-content{
    text-align: center;
}

@media (max-width:475px) {

    .container {
        width: 100%;       
        /* border: 2px solid magenta; */
        margin: 0 auto;
       
    }

    .container-nav {
        width: 100%;
        height: fit-content;
    }

    header {
        text-align: center;
    }

    nav {
        z-index: 3;
    }

    .hamburger {
        display: block;
        z-index: 2;
        position: absolute;
        right: 5%;
        top: 10%;
        margin: 0 10px;
    }

    nav ul {

        height: fit-content;
        width: 100%;
        clip-path: circle(10px at 90% -20%);
        -webkit-clip-path: circle(10px at 90% -10%);
        
    }

    .nav-list.open {
        flex-direction: column;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    nav li {
        margin: 0.25em 0.25em;

    }

    /*Animating Hamburger Icon on Click*/
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        transition: all 0.7s ease;
        width: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .container-main{
        flex-direction:row;
        width:100%;
        margin:0 auto;
        flex-wrap:wrap;
    }

    .img-only img{
        width:100%;   
        
    }
    .card{    
        width:85%;
        height:fit-content;
        margin-bottom:0;
        z-index:5;
    }
    .designer{
        width:100%;
    }
    .about-designer{
        font-size:1em;
    }
}